<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nenu.mapper.TblDictdoctypesMapper">
  <resultMap id="BaseResultMap" type="com.nenu.domain.TblDictdoctypes">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DocType" jdbcType="VARCHAR" property="doctype" />
    <result column="DocTable" jdbcType="VARCHAR" property="doctable" />
  </resultMap>
</mapper>