<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nenu.mapper.TblNdaTemplateTypeMapper">
  <resultMap id="BaseResultMap" type="com.nenu.domain.TblNdaTemplateType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tpltype" jdbcType="VARCHAR" property="templateType" />
  </resultMap>
</mapper>